/* Header Begins */
.header-container{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items:center;
    padding:1.5rem;
    width:100%;
    position:fixed;
    top: 0;
    z-index: 20;
  }
 
.header-bg-scroll{
  background-color: rgba(26, 26, 26, 0.85);
 transition:0.5s;
}
.header-bg-noscroll{
  background-color: rgba(26, 26, 26, 0.4);
}
/* Header Ends */

/* Hero begins*/
.hero-transparent{
  background: rgba(0, 0, 0, 0.5);
}
/* Hero Ends*/

/* Hero Image Begins */
.hero-img{
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  height: 80vh;
  position: relative;
}
.hero-img::before{
content: "";
background: url("https://images.unsplash.com/photo-1550063873-ab792950096b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80");
background-size: cover;
background-position: center top;
height: 100%;
width: 100%;
position: absolute;
top: 0;
left: 0;
z-index: -1;
}
/* Hero Image Ends*/

