*{
    margin:0;
    padding:0;
    text-decoration: none;
    list-style-type: none;
    box-sizing:border-box;
}
.header-container{
    display:flex;
    justify-content: space-between;
    align-items:center;
    padding:1rem;
    background-color:#ddd;
  }
/* NavBar */
.nav-menu{
    display:flex;
}
.nav-menu li{
    padding:0 1rem;
}
.nav-menu li a {
    color: #000;
  }
.nav-menu li a:hover {
    color: #00a8ff;
  }
.nav-menu li a.active {
    color: #00a8ff;
  }
/* Hero */
.hero-image{
   background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url("https://getwallpapers.com/wallpaper/full/0/8/1/574978.jpg");
   background-position:center;
   background-size:cover;
   background-repeat: no-repeat;
    position:relative;
}
.hero-text{
    position:absolute;
    top: 50%;
  left: 50%;
    transform:translate(-50%,-50%);
  color: white;
}